.logo {
    width: 36px;
    margin: 6px;
}

.headerText {
    margin: 6px;
}

.header {
    border-bottom: 1px solid rgb(220, 220, 220);
}

.userDropdown {
    
}

.logout {
    
}

.rightSide {
    
}